
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('../images/texturametalica.jpg') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: lightgrey;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 800px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.modelo{
 width: 100%;
  text-align: center;
  padding: 10px;
  float: left;
}

/*galeria coleccion*/
.galeria{
  width: 100%;
  text-align: center;
  padding: 10px;
  float: left;

}

.lista {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: white;
  opacity: 0.7;
  transition: width 1s, height 1s, transform 1s;
  z-index: 500;

}

.lista:hover {
    opacity: 1.0;
    -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(1.7,1.7); /* Chrome, Safari, Opera */
    transform: scale(1.7,1.7); /* Standard syntax */
    position: relative;
}

.miniaturas{
  width: 50px;
  height: 50px;
}



