body {
  
  
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.col{
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

/*--------------*/

iframe{
  border:0px;
}

.mod {
    width: 130px;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 10px;
    border-style: solid;
    border-color: black;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(-10deg) rotateY(-30deg);
  
        transition: width 1s, height 1s, transform 1s;

}

.mod:hover {
    
    position: relative;
    z-index: 1000;
    
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
     -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2); /* Standard syntax */
}
/*------------------------*/
.mod-user{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.coment-user{
 background-color: lightgrey;
  border-radius: 0px 10px 0px 10px;
  padding: 5px; 
  color: black;
  margin: 5px;
}
/*------------------------*/
.body-sm {
  background-color: lightgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;

}

.form-login{
  background-color: lightgrey;
  border-radius: 0px 10px 0px 10px;
}

.coment{
 background-color: grey;
  border-radius: 100px 10px 100px 100px;
  padding: 5px; 
  color: white;
  
  margin: 5px;
}

.icon-coment{
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  padding: 5px;
  margin-right: 10px;
}

.mod-user{
  width: 70px;
  height: 70px;
  border-width: 1px;
  border-color: lightgrey;
  padding: 2px;
  
}

.menu{
  background-color: black; 
  position: relative;
  margin: 0px;
}

.a-menu{
  color: white;
  font-size: 18px;
}
.a-menu-1{
  color: white;
  font-size: 25px;
}

.lista {
  width: 100px;
  height: 100px;
  border-style: solid;
  margin: 5px;
    border-color: white;
    opacity: 0.7;
    transition: width 1s, height 1s, transform 1s;

}

.lista:hover {
    opacity: 1.0;
    position: relative;
    z-index: 1000;
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
     -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(3,3); /* Chrome, Safari, Opera */
    transform: scale(3,3); /* Standard syntax */
}

.bordes{
  padding: 5px;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  /*border-style: solid;
  border-color: black;*/
}
.inicio{
  float: right;
}
.redes{
  float: left;
}

.h3-user{
  color: white;
  background-color: black;
  opacity: 0.8;
  margin-top: 40%;
  padding: 1px;
}

.h3-bloqueado{
  color: white;
  background-color: red;
  opacity: 0.8;
  -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.icon-user{
  height: 110px;
  width: 110px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  padding: 5px;
  margin: 20px;
  background-size:cover;
}

.div-coleccion{
  width: 30%;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 20px;
  border-width: 0.5px;
  margin: 15px;
  padding: 10px;
  float: left;

}
.coleccion{
  width: 60%;
  border-radius: 100%;
  margin-bottom: 10px;
}