html {
  font-family: sans-serif;

}

body{
  background-image: url('../images/images-sys/fondo.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin:0px;
  padding: 30px;
}
.bordes{
  padding: 25px;
  border-style: ssolid;
}

.logo{
background-image: url('../images/images-sys/fondologo.png');
  -webkit-background-size: 100%;
  -moz-background-size:100%;
  -o-background-size: 100%;
  background-size: 100%;  
  padding: 10px; 
  padding-top: 35px;
  height: 150px;

}
.menu{
  background-image: url('../images/images-sys/menu.png');
  -webkit-background-size: 100%;
  -moz-background-size:100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 100%;
}
.fondoplaca{
  background-image: url('../images/images-sys/fondoplaca.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  
  box-shadow: 5px 5px 15px 15px #000; 
  -webkit-box-shadow: 5px 5px 15px 15px #000; 
  -moz-box-shadow: 5px 5px 15px 15px #000; 
  padding:20px;


}
.placa{
  background-image: url('../images/images-sys/pldaca.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  
  box-shadow: 5px 5px 15px 15px #000; 
  -webkit-box-shadow: 5px 5px 15px 15px #000; 
  -moz-box-shadow: 5px 5px 15px 15px #000; 
  margin:0px;
  min-height: 355px;
}
.comentarios{
  background-image: url('../images/images-sys/comentarios.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.usuario{
  background-image: url('../images/images-sys/usuariso.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 125px;
}
.pad{
  margin-top: 73px;
}
.compras{
  background-image: url('../images/images-sys/compras.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 190px;
}

.redes{
  background-image: url('../images/images-sys/redes.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 190px;
}


iframe{
  margin-top: 80px;
  border:0px;
  height: 500px;
  
}


/*no hace falta*/
.port{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  margin: 5px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 160px;
  text-align: center;
  float: left;
}
.img-port{
    transition: width 1s, height 1s, transform 1s;
}
.img-port:hover {
    position: relative;
    z-index: 1000;
    
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
     -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2); /* Standard syntax */
}

.cuerpo{
  height: 500px;
  margin-top: 20px;
  border-style: solids;
  border-width: 5px;
  margin-bottom:20px;
  padding-top: 15px;
  padding-bottom: 15px;
 border-color: red;
}
/*sombreados*/
.black{
  background-color: black;
 
  color: white;

}

/*img modelos*/
.img-mod{
    transition: width 1s, height 1s, transform 1s;
    height: 100px;
    width: 100px;
}
.img-mod:hover {
    position: relative;
    z-index: 1000;
    
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
     -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2); /* Standard syntax */
}
/*------------------------*/
.mod-user{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.coment-user{
 background-color: lightgrey;
  border-radius: 0px 10px 0px 10px;
  padding: 5px; 
  color: black;
  margin: 5px;
}

.coment{
 background-color: grey;
  border-radius: 100px 10px 100px 100px;
  padding: 5px; 
  color: white;
  
  margin: 5px;
}

.icon-coment{
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  padding: 5px;
  margin: 5px;
}

.mod-user{
  width: 70px;
  height: 70px;
  border-width: 1px;
  border-color: lightgrey;
  padding: 2px;
  
}

.menu{
  background-color: black; 
  position: relative;
  margin: 0px;
}

.a-menu{
  color: white;
  font-size: 18px;
}
.a-menu-1{
  color: white;
  font-size: 25px;
}


.menu{
  margin-top: 10px;
  margin-bottom: 10px;
  
  padding: 5px;
}

.bordes{
  text-align: center;
  width: 100%;
  
  border-color: black;
  padding:10px;
}
.inicio{
  float: right;
}
.redes{
  float: left;
}

.h3-user{
  color: white;
  background-color: black;
  opacity: 0.8;
  margin-top: 40%;
  padding: 1px;
}

.h3-bloqueado{
  color: white;
  background-color: red;
  opacity: 0.8;
  -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.icon-user{
  height: 110px;
  width: 110px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  padding: 5px;
  margin: 20px;
  background-size:cover;
}

.div-coleccion{
  width: 30%;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 20px;
  border-width: 0.5px;
  margin: 15px;
  padding: 10px;
  float: left;

}
.coleccion{
  width: 60%;
  border-radius: 100%;
  margin-bottom: 10px;
}