body {
  padding-left: 3%;
}

#sesion{
  margin-top: 7%;
  margin-left: 3%;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 20px;
  border-width: 0.5px;
  padding: 5px;
  width: 80%;
}

.aplicacion{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 20px;
  border-width: 0.5px;
  margin: 5px;
  padding: 5px;
  width: 80%;
  float: center;
}

.icono_user{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  margin: 5px;
  padding: 5px;
  width: 80%;
}
.icon_user_comentario{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  margin: 5px;
  padding: 5px;
  width: 60px;
}

.icono_redes{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  margin: 10px;
  padding: 5px;
  width: 15%;
}

.img_user{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  margin: 15px;
  padding: 10px;
  width: 25%;
}
.div-coleccion{
  width: 30%;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 20px;
  border-width: 0.5px;
  margin: 15px;
  padding: 10px;
  float: left;

}
.coleccion{
  width: 60%;
  border-radius: 100%;
  margin-bottom: 10px;
}