body{
  background-color: lightgrey;
}
.bordes{
  padding: 5px;
  z-index=-1;
  border-style: solid;
  border-color: black;
  
}
.pagina{
  float: right;
}
.panel{
  float: left;
  background-color: black;
  padding: 5px;
  color: white;
  height: 500px;
}
.menu{
  color: white;
  float: right;
  background-color: black;
  padding: 5px;
}
.icon-user{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 100px;
  border-width: 0.5px;
  padding: 2px;
}

